.container {
    height: auto;
    margin-bottom: 4px;
}

.imageOne {
    grid-column: 1/5;
}

.captionOne {
    grid-column: 1/5;
    grid-row: 2/3;
}

.imageTwo {
    grid-column: 5/9;
}

.captionTwo {
    grid-column: 5/9;
    grid-row: 2/3;
}

.imageThree {
    grid-column: 9/13;
}

.captionThree {
    grid-column: 9/13;
    grid-row: 2/3;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 478px) {
    .imageOne {
        grid-column: 1/-1;
    }

    .captionOne {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .imageTwo {
        grid-column: 1/-1;
    }

    .captionTwo {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    .imageThree {
        grid-column: 1/-1;
    }

    .captionThree {
        grid-column: 1/-1;
        grid-row: 6/7;
    }

    .image {
        grid-column: 1/-1;
    }
}