.header {
  padding: 16px 12px;
  /*border-bottom: 1px solid var(--dark-grey);*/
}

.projectContainer {
  /*border-top: 1px solid var(--dark-grey);*/
  /*padding-top: 8px;*/
  max-width: var(--page-max-width);
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  margin: 0 auto;
}

.about {
  margin: 80px 0;
  grid-column: 1/10;
}

.footer {
  font-size: 15px;
  margin-top: 80px;
  padding: 16px 12px;
}

