
.example {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    padding: 10px 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
}

.about {
    background-color: var(--about-background-color);
    color: white;

}

.work {
    background-color: var(--case-study-page-background-color);
    color: var(--case-study-text-color);
}

.contact {
    background-color: black;
    color: var(--light-grey);
}



