.project{
  grid-column: span 4;
  text-decoration: none;
  color: var(--dark-grey);
  transition: 0.2s ease-in;
  padding: 12px 12px;

}


.project:nth-child(3n + 2) {
  /*border-left: 1px solid var(--dark-grey);*/
  /*border-right: 1px solid var(--dark-grey);*/
}

.project:last-child {
  /*border-right: 1px solid var(--dark-grey);*/

}


.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 0;
}

.projectImage {
  height: 300px;
  width: 100%;
  background-color: black;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px 0;
}

.about {
  margin: 80px 0;
  grid-column: 1/10;
}

.title {
  padding: 8px 0;
  border-bottom: 1px solid var(--dark-grey);
  font-weight: 600;
}

img {

  height: 300px;
}
.projectWrapper {
  --hover-color: initial; /* Set a default value */
  /* other styles */
}
.project:hover  {
  text-decoration: none;
  background-color: var(--hover-color); /* Use the CSS variable for hover color */
}
